[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shindonghyuck
[access "refs/for/refs/*"]
	read = group user/shindonghyuck
	push = group user/shindonghyuck
	label-Code-Review = -2..+2 group user/shindonghyuck
	label-Verified = -1..+1 group user/shindonghyuck
	rebase = group user/shindonghyuck
	removeReviewer = group user/shindonghyuck
	submit = group user/shindonghyuck
[access "refs/heads/*"]
	read = group user/shindonghyuck
	create = group user/shindonghyuck
	push = +force group user/shindonghyuck
	pushMerge = group user/shindonghyuck
[access "refs/tags/*"]
	push = +force group user/shindonghyuck
	pushTag = group user/shindonghyuck
	pushSignedTag = group user/shindonghyuck
